@charset "utf-8";

/* layout */
#header {position: fixed; left: 0; top: 0; width: 100px; height: 100vh; background: #2A57DC; display: flex; align-items: center; justify-content: center; border-right: 1px solid #628AFF; z-index: 1000;}
#contents {width: calc(100% - 100px); margin-left: 100px;}
#nav {position: relative;}
.inner {padding-left: 10vw; margin: 0 auto; text-transform: uppercase;}
.intro {display: flex; justify-content: center; align-items: center; width: 100%; height: 100vh; background-size: 100%;}
#section1 {font-family: 'Jost'; width: 100%; background-color: #1458E4;}
#section2 {position: relative; width: 100%; background-color: #1458E4;}
#section3 {width: 100%; height: 100vh;}
#section4 {width: 100%; height: 100vh;}
#section5{padding-bottom: 10vw; background: #fff;}
#section6 {background-color: #1458E4; padding-bottom: 10vw;}
#section7 {padding-bottom: 7vw; background: #222;}
#section8 {padding-bottom: 15vw; background: #222;}
#footer {border-top: 1px solid #c4c4c4; background: #222;}

/* nav */
#nav > div {
    width: 40px; 
    height: 40px;
    /* background: rgba(0,0,0,0.3); */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transform: rotate(90deg);
}
#nav > div span {
    width: 100%;
    height: 3px;
    background: #fff;
    display: inline-block;
    position: relative;
}
#nav > div span::before {
    content: '';
    position: absolute;
    left: 0;
    top: 10px;
    width: 100%;
    height: 3px;
    background: #fff;
}
#nav > div span::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 100%;
    height: 3px;
    background: #fff;
}

/* contents */
.contents {
    width: calc(100% - 100px);
    margin-left: 100px;
}


/* section1 */
#section1 {
    background: #2A57DC;
    width: 100%;
}
.sec1__inner {
    display: flex;
    border-bottom: 1px solid #628AFF;
    position: relative;
}
.sec1__inner .left {
    width: 60%;
}
.sec1__inner .left p {
    position: absolute;
    left: 1vw;
    bottom: 9vw;
    color: #fff;
    font-family: "Jost";
    font-size: 4.5vw;
    line-height: 1.2;
    font-weight: 300;
    transform: rotate(-90deg);
}
.sec1__inner .right {
    width: 40%;
    border-left: 1px solid #628AFF;
}
.sec1__inner .right .title {
    padding: 1.4vw;
    border-bottom: 1px solid #628AFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sec1__inner .right .title h2 {
    font-size: 20px;
    font-family: "Jost";
    color: #fff;
}
.sec1__inner .right .title a {
    font-size: 20px;
    font-family: "Jost";
    color: #fff;
}
.sec1__inner .right .intro {
    display: block;
    padding: 1.7vw;
    height: 500px;
    margin-top: 5vw;
    border-top: 1px solid #628AFF;
    font-family: "ChosunNm";
}
.sec1__inner .right .intro p {
    color: #fff;
}
.intro figure {
  width: 10vw;
  float: right;
  padding-top: 5vw;
}
.intro figure img {
  width: 100%;
  border-radius: 50%;
}


/* section2 */
.sec2__inner {
  background: url("https://vooban.com/uploads/placeholders/video.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.intro_text h2 {
  text-transform: uppercase;
  font-family: "Abel";
  font-size: 3vw;
  color: #fff;
  letter-spacing: 2vw;
}
/* section3 */
.sec3 {
  margin-top: 5vw;
}
.profile {
  font-family: 'Jost';
  font-weight: 300;
}
.prof_cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.prof_text {
  width: 50vw;
  position: relative;
  padding-left: 10vw;
  color: #1458E4;
}
.prof_text p {
  font-size: 3.2vw;
}
.prof_text span {
  display: block;
  padding-top: 10%;
  font-size: 2vw;
}
.prof_cont figure {
  width: 30vw;
  padding-right: 5vw;
}
.prof_cont figure img{
  width: 100%;
  display: block;
}
/* section4 */
.skill {
  border-top: 1px solid #c4c4c4;
}
.skill_text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10% 5% 0 5%;
}
.skill_text p {
  font-weight: 300;
  line-height: 1.5;
  font-size: 1.2vw;
}
.skill_text .txt_left {
  border-right: 1px solid #7E8AAB;
  padding-right: 10%;
  font-family: 'Jost';
}
.skill_text .txt_right {
  font-family: 'ChosunNm';
  padding-left: 10%;
}
/* section5 */
#section5 .projects {
  background:url('../img/intro2.png') no-repeat center;
}
.pro {
  display: flex; 
  align-items: center; 
  justify-content: space-between;
  padding-top: 20%;
}
.pro_img {
  width: 52vw;
  padding-left: 5vw;
}
.pro_img img {width: 55vw;}
.pro_cont {
  width: 40vw; 
  text-transform:uppercase;
  padding-right: 8vw;
}
.pro_txt {
  font-family: 'Abel';
  text-align: right;
}
.pro_txt h3 {
  color: #1458E4; 
  font-size: 4vw;
  padding-top: 5vw;
  letter-spacing: 0.3vw;
}
.pro_txt p {
  font-family: 'ChosunNm';
  font-size: 1.1vw;
  padding: 5% 0 5%;
}
.pro_txt a {
  color: #1458E4;
  display: block;
  font-size: 1.2vw;
  letter-spacing: 0.2em;
}
/* section6 */
.js {
  padding-top: 10vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.js_wrap {
  padding-top: 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.js_wrap::before {
  content: '';
  width: 1vw;
  height: 20vw;
  border-bottom: 1px solid #7E8AAB;
  transform: rotate(90deg);
  position: absolute;
  top: 0;
}
.js_txt {
  color: #fff;
  width: 40vw;
}
.js_wrap .right {padding-left: 5vw;}
.js_wrap .left {padding-right: 5vw;}
.js_txt h2, .js_txt h3 {
  font-size: 2.5vw;
  letter-spacing: 0.6em;
  font-family: 'Abel';
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 1vw;
  border-bottom: 1px solid #7E8AAB;
}
.js_txt p {
  padding-top: 2vw;
  font-size: 1.2vw;
  line-height: 1.7;
  font-family: 'ChosunNm';
  font-weight: 300;
  letter-spacing: 0.05vw;
  padding-bottom: 5vw;
}
.js_txt a {
  font-family: 'Jost';
  text-transform: uppercase;
  color: #fff;
  border: 1px solid rgba(255,255,255,0.5);
  font-size: 0.2vw;
  padding: 1vw 4vw;
  transition: 0.25s ease;
  letter-spacing: 0.2vw;
}
.js_txt a:hover {
  color: #1458E4;
  background: rgba(255,255,255,0.8);
}
.js_img {
  position: relative;
}
.js_img img {width: 42vw;}
.js_img::before {
  position: absolute;
  content: '';
  width: 40vw;
  height: 34vw;
  border: 2px solid rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  top: -3vw;
  right: 5vw;
}
.js_cont {
  width: 32vw;
}
.js_cont img {width: 100%; display: block;}

/* section7 */
#section7 .intro {
  background: url('../img/intro3.png') no-repeat center;
}
.ani_wrap {}
.ani {
  padding-top: 10vw;
}
.ani_txt {
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.ani_txt h3 {
  position: relative;
  font-family: 'Jost';
  font-size: 2.5vw;
  font-weight: 300;
}
.ani_txt h3::after {
  content: '';
  width: 11vw;
  height: 0.1vw;
  position: absolute;
  background: #c4c4c4;
  top: 5vw;
  left: 23vw;
}
.ani_txt p {
  font-family: 'ChosunNm';
  padding-top: 6vw;
  font-size: 0.9vw;
}
.ani_cont {
  width: 55vw;
  height: 30vw;
  background: #c4c4c4;
  margin: 5vw auto;
}
/* section8 */
.about {
  color: #fff;
  font-family: 'Jost';
  text-transform: uppercase;
}
.about h2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.5vw;
  margin-bottom: 30vw;
}
.about h2::after {
  position: absolute;
  content: '';
  width: 0.1vw;
  height: 15vw;
  background: #c4c4c4;
  top: 10vw;
}
.about_wrap1, .about_wrap2{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about_cont1{
  width: 50vw;
  padding-left: 12vw;
}
.about_cont4 {
  width: 20vw;
}
.show figure {width: 29vw;}
.show img {width: 100%;}
.show span {font-size: 1.5vw; padding-top: 1.2vw; display: block;}

/* footer */
.foot {
  margin-left: 10vw;
  font-family: 'Jost';
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15vw 0 15vw 0;
}
.foot_left {
  width: 40vw;
  height: 40vw;
  border-right: 1px solid #c4c4c4;
}
.foot_left h2 {
  font-size: 5vw;
  font-weight: 300;
  transform: rotate(-90deg);
  border-left: 1px solid #c4c4c4;
}
.copy span {
  display: inline-block;
  font-size: 1.1vw;
  padding-top: 1vw;
}
.foot_right {
  width: 35vw;
  margin: auto;
}
.foot_right p {
  font-size: 2vw;
  text-align: center;
  padding-bottom: 5vw;
}
.foot_right form input, form textarea {
  width: 100%;
  font-size: 1.1vw;
  line-height: 1.2;
  background: #222;
  border: 1px solid #c4c4c4;
  outline: none;
  color: #fff;
  padding: 1vw 2vw;
  margin-bottom: 1vw;
}
.foot_right button {
  width: 35vw;
  color: #fff;
  padding: 1vw 2vw;
  border: 1px solid #c4c4c4;
}

@media (max-width:900px){
  #header {
    width: 50px;
  }
  #nav > div {
    width: 30px; 
    height: 30px;
  }
  #nav > div span, #nav > div span::before, #nav > div span::after {
    height: 2px;
  }
  .contents {
    width: calc(100% - 50px);
    margin-left:50px;
  }
  .sec1__inner {
      flex-direction: column-reverse;
  }
  .sec1__inner .left {
      width: 100%;
  }
  .sec1__inner .left p {
    
  }
  .sec1__inner .right {
      width: 100%;
      border-left: 0;
  }
  .sec1__inner .right .intro {
      height: auto;
  }
  .sec1__inner .right .intro p{
    font-size: 2.2vw;
  }
  .sec1__inner .left p {
      position: relative;
      transform : rotate(0);
      bottom: 0;
      left: 0;
      padding: 3vw;
      text-align: center;
      padding: 10vw 10vw;
  }
  .intro figure {
    width: 100%;
    border-bottom: 1px solid #628AFF;
    padding: 8vw 5vw;
  }
  .intro figure img{
    width: 27vw;
    display: block;
    margin: auto;
  }
}