/* locomotive */
html.has-scroll-smooth {
  overflow: hidden;
}
html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.has-scroll-smooth body {
  overflow: hidden;
}
.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh;
}
.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100vh;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0;
}
.c-scrollbar:hover {
  transform: scaleX(1.45);
}
.c-scrollbar:hover,
.has-scroll-scrolling .c-scrollbar,
.has-scroll-dragging .c-scrollbar {
  opacity: 1;
}
.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
  cursor: -webkit-grab;
  cursor: grab;
}
.has-scroll-dragging .c-scrollbar_thumb {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

/* section1 */
main {
  margin-left: 100px;
}
.sec1_inner {
  width: 100%;
  height: 86vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.sec1_left {
  width: 63%;
  height: 86vh;
  background-color: #2a57dc;
}
.split span {
  display: inline-block;
}
.sec1_inner .left_txt {
  position: absolute;
  left: 5vw;
  bottom: 10vw;
  color: #fff;
  font-family: "Raleway";
  font-size: 5vw;
  line-height: 1.2;
  font-weight: 100;
  letter-spacing: 0.1vw;
}

.sec1_inner .sec1_right {
  border-left: 1px solid #628aff;
  background-color: #2a57dc;
  width: 37%;
  height: 86vh;
}
.sec1_inner .sec1_right .main_title {
  padding: 1.4vw;
  border-bottom: 1px solid #628aff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sec1_right .main_title span,
.main_title a {
  font-size: 1.3vw;
  font-family: "Jost";
  color: #fff;
}
.sec1_inner .sec1_right .main_intro {
  height: 55vh;
  padding: 1.5vw;
  margin-top: 8vw;
  border-top: 1px solid #628aff;
  font-family: "ChosunNm";
}
.sec1_inner .sec1_right .main_intro p {
  color: #fff;
  font-size: 1.1vw;
}
.main_intro figure {
  float: right;
  display: block;
}
.main_intro .main_img {
  background: url("http://127.0.0.1:5501/assets/img/profile.jpg") no-repeat
    center top / 120%;
  border-radius: 50%;
  width: 12vw;
  height: 12vw;
  display: block;
  margin: 2vw 1vw;
  border-bottom: 1px solid #628aff;
}

/* layout */
#section3 {
  width: 100%;
  border-top: 1px solid #628aff;
}
#section5 {
}
#section6 {
  background-color: #2a57dc;
  height: 100vh;
}

.sec1_wrap {
  width: calc(100% - 100px);
  margin-left: 100px;
}
.sec1-4 {
  background-color: #2a57dc;
  height: 100vh;
}
.sec1-5 {
  background-color: #2a57dc;
  height: 100vh;
}
#section5 {
  height: 100vh;
  overflow: hidden;
  display: flex;
  left: 0;
}

/* section2 */
.intro_inner {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #628aff;
}
.port_int {
  background-image: url("https://leeheezin.github.io/PORTFOLIO/assets/img/intro1.png");
}
.intro_text h2 {
  font-family: "Abel";
  color: #fff;
  font-size: 2vw;
  letter-spacing: 1vw;
}
.intro_text em,
.intro_text span {
  display: inline-block;
}
.prof {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 7vw 10vw;
}
.prof_cont {
  font-size: 20px;
  width: 55%;
  font-family: "Raleway";
  font-weight: 100;
  line-height: 1.2;
  white-space: nowrap;
  mix-blend-mode: overlay;
  color: #1458e4;
}
.prof_tit p {
  font-size: 5vw;
  overflow: hidden;
}
.prof_tit p > span {
  display: inline-block;
}
.prof_tit strong {
  mix-blend-mode: color-dodge;
  font-weight: 700;
}
.prof_desc p {
  font-family: "ChosunNm";
  white-space: normal;
  display: block;
  line-height: 1.5;
  width: 35vw;
  font-size: 1vw;
  overflow: hidden;
}
.prof_desc p > span {
  display: inline-block;
}
.prof figure {
  z-index: -1;
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 87vh;
}
.prof_img {
  background-image: url(../img/profile.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.reveal {
  visibility: hidden;
  position: relative;
  width: 100%;
  height: 87vh;
  overflow: hidden;
}
/* section3 */
.skill_logo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2vw 0;
  border-bottom: 1px solid #c4c4c4;
}
.skill_logo_img {
  width: 9%;
  overflow: hidden;
}
.skill_logo_img img {
  display: block;
}
.skill_inner {
  width: 100%;
  padding: 12vw 10vw;
  display: flex;
  justify-content: space-between;
}
.skill_txt_tit {
  width: 50%;
  font-family: "Jost";
  padding-right: 10%;
  font-size: 1.2vw;
  font-weight: 300;
  border-right: 1px solid #c4c4c4;
}
.skill_txt_tit p {
  overflow: hidden;
}
.skill_txt_tit p > span {
  display: inline-block;
}
.skill_txt_desc {
  font-family: "Chosunnm";
  font-size: 1vw;

  width: 50%;
  padding-left: 10%;
}
.skill_txt_desc p {
  overflow: hidden;
}
.skill_txt_desc p > span {
  display: inline-block;
}
/* section4 */
.proj_int {
  background-image: url("../img/intro2.png");
}
.project {
  width: 100%;
}
.proj {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6vw 6vw 3vw;
}
.proj_left {
  width: 60%;
}
.proj_tit {
  font-family: "Raleway";
  color: #285ad5;
}
.proj_tit p {
  font-size: 1.2rem;
  font-weight: 300;
  overflow: hidden;
}
.proj_tit h3 {
  font-weight: 700;
  overflow: hidden;
  font-size: 5vw;
}
.proj_desc p {
  font-size: 1rem;
  overflow: hidden;
  font-family: "ChosunNm";
}
.proj_tit p > span {
  display: inline-block;
}
.proj_tit h3 > span {
  display: inline-block;
}
.proj_desc p > span {
  display: inline-block;
}
.proj_right {
  width: 40%;
  padding-top: 6%;
  position: relative;
}
.proj_view {
  display: inline-block;
  width: 43%;
}
.project.active .proj_numb {
  color: #285ad5;
}
.proj_numb {
  overflow: hidden;
  font-family: "Poppins", sans-serif;
  display: block;
  font-size: 23vw;
  font-weight: 600;
  opacity: 0.1;
  position: absolute;
  top: -55%;
  z-index: -1;
  right: -8%;
}
.proj_numb span {
  color: transparent;
  display: inline-block;
  -webkit-text-stroke: 2px #285ad5;
}
/* button */
.view_btn {
  position: relative;
  display: inline-block;
  font-family: "Raleway";
  margin-top: 29%;
  width: 100%;
  height: auto;
  vertical-align: middle;
}
.view_btn .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #2a57dc;
  border-radius: 1.625rem;
}
.view_btn .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}
.view_btn .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}
.view_btn .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}
.view_txt {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  font-size: 1.6rem;
  position: absolute;
  top: 5%;
  left: 3%;
  right: -18%;
  bottom: 0;
  color: #2a57dc;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}
.view_btn:hover .circle {
  width: 100%;
}
.view_btn:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}
.view_btn:hover .view_txt {
  color: #fff;
}
.code {
  left: 10%;
}
/* reveal */
.proj_img_wrap {
  /* visibility: hidden; */
  position: relative;
  width: 100%;
  height: 65vh;
  /* overflow: hidden; */
}
.proj_img_wrap > div {
  width: 100%;
  height: 65vh;
  display: block;
  object-fit: cover;
}
.proj_img1 {
  background: url("../img/proj_img1.png") no-repeat center center / cover;
}
.proj_img2 {
  background: url("../img/proj_img2.png") no-repeat center center / cover;
}
.proj_img3 {
  background: url("../img/proj_img3.png") no-repeat center center / cover;
}

/* section5 */
.sec5_wrap {
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.sec5_wrap > div {
  min-width: 50vw;
  height: 100vh;
}
.sec2-1 {
}
.sec2-2 {
}
.sec2-3 {
}

.game {
  font-family: "Raleway";
  border-right: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
}
.game_inner {
  padding: 5% 5% 0;
}
.game_txt {
}
.game_tit h3 {
  font-size: 2rem;
  color: #2a57dc;
  font-weight: 500;
  text-transform: uppercase;
}
.game_desc {
  display: inline-block;
  font-family: "ChosunNm";
  font-size: 0.9rem;
  padding-top: 5%;
  width: 60%;
}
.game_desc p {
  /* overflow: hidden; */
}
.game_desc p > span {
  display: inline-block;
}
.game_txt a {
  position: relative;
  display: inline-block;
  width: 29%;
  font-family: "Raleway";
  font-size: 1.1vw;
  margin-top: 8%;
  float: right;
  transition: 0.25s ease;
}
.game_txt a:hover {
  color: #fff;
  text-align: center;
  transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.game_code {
  --background: #275efe;
  --text: #fff;
  --font-size: 16px;
  --duration: 0.44s;
  --move-hover: -4px;
  --shadow: 0 2px 8px -1px rgba(39, 94, 254, 0.32);
  --shadow-hover: 0 4px 20px -2px rgba(39, 94, 254, 0.5);
  --font-shadow: var(--font-size);
  padding: 13px 32px;
  font-weight: 500;
  line-height: var(--font-size);
  border-radius: 24px;
  display: block;
  outline: none;
  text-decoration: none;
  font-size: var(--font-size);
  letter-spacing: 0.5px;
  background: var(--background);
  color: var(--text);
  box-shadow: var(--shadow);
  transform: translateY(var(--y)) translateZ(0);
  transition: transform var(--duration) ease, box-shadow var(--duration) ease;
}
.game_code > div {
  display: flex;
  overflow: hidden;
  text-shadow: 0 var(--font-shadow) 0 var(--text);
}
.game_code div span {
  width: 44%;
  display: block;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  font-style: normal;
  transition: transform var(--duration) ease;
  transform: translateY(var(--m)) translateZ(0);
}
.game_code div span:nth-child(1) {
  transition-delay: 0.05s;
}
.game_code div span:nth-child(2) {
  transition-delay: 0.1s;
}
.game_code div span:nth-child(3) {
  transition-delay: 0.15s;
}
.game_code div span:nth-child(4) {
  transition-delay: 0.2s;
}
.game_code div span:nth-child(5) {
  transition-delay: 0.25s;
}
.game_code div span:nth-child(6) {
  transition-delay: 0.3s;
}
.game_code div span:nth-child(7) {
  transition-delay: 0.35s;
  text-align: center;
}
.game_code div span:nth-child(8) {
  transition-delay: 0.4s;
}
.game_code div span:nth-child(9) {
  transition-delay: 0.45s;
}
.game_code div span:nth-child(10) {
  transition-delay: 0.5s;
}
.game_code div span:nth-child(11) {
  transition-delay: 0.55s;
}
.game_code:hover {
  --y: var(--move-hover);
  --shadow: var(--shadow-hover);
}
.game_code:hover span {
  --m: calc(var(--font-size) * -1);
}
.game_code.reverse {
  --font-shadow: calc(var(--font-size) * -1);
}
.game_code.reverse:hover span {
  --m: calc(var(--font-size));
}
.game_cont {
  width: 100%;
  height: 75vh;
  margin-top: 3%;
}
.music_cont {
  background: #dde2ff;
}
.typing_cont {
  background: #2a57dc;
}
.puzzle_cont {
  background: #2a57dc;
}
.card_cont {
  background: #819fec;
}
.typingmaster_cont {
  background: #e7e7f4;
}
.tetris_cont {
  background: #3e3bdd;
}
.game_cont iframe {
  width: 100%;
  height: 100%;
}

/* header */
#header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100px;
  height: 100vh;
  background: #2a57dc;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #628aff;
  z-index: 1000;
}

/* nav */
#nav > div {
  width: 40px;
  height: 40px;
  /* background: rgba(0,0,0,0.3); */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transform: rotate(90deg);
}
#nav > div span {
  width: 100%;
  height: 3px;
  background: #fff;
  display: inline-block;
  position: relative;
}
#nav > div span::before {
  content: "";
  position: absolute;
  left: 0;
  top: 10px;
  width: 100%;
  height: 3px;
  background: #fff;
}
#nav > div span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 100%;
  height: 3px;
  background: #fff;
}
#nav .scroll {
  position: absolute;
  left: 27px;
  bottom: 20px;
  color: #fff;
  transform: rotate(0deg);
}

/* contents */
.contents {
  width: calc(100% - 100px);
  margin-left: 100px;
}

/* section1 */
#section1 {
  width: 100%;
}
.sec1__inner {
  display: flex;
  /* border-bottom: 1px solid #628AFF; */
  position: relative;
  height: 800px;
  width: 100%;
}
.sec1__inner .left {
  width: 60%;
  background: #2a57dc;
}
.sec1__inner .left .text {
  position: absolute;
  left: 5vw;
  bottom: 10vw;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 5vw;
  line-height: 1.2;
  font-weight: 100;
  transform: rotate(0deg);
}
.sec1__inner .left .text span {
  opacity: 0;
  transform: translateY(40px);
  display: inline-block;
}
.sec1__inner .right {
  width: 40%;
  background: #2a57dc;
  border-left: 1px solid #628aff;
}
.sec1__inner .right .title {
  padding: 1.4vw;
  border-bottom: 1px solid #628aff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sec1__inner .right .title h2 {
  font-size: 20px;
  font-family: "Jost";
  color: #fff;
}
.sec1__inner .right .title a {
  font-size: 20px;
  font-family: "Jost";
  color: #fff;
}
.sec1__inner .right .intro {
  padding: 1.4vw;
  height: 500px;
  margin-top: 10vw;
  border-top: 1px solid #628aff;
  font-family: "ChosunNm";
}
.sec1__inner .right .intro p {
  color: #fff;
}
.sec1__inner .right .intro img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 200px;
  margin-top: 2vh;
}

@media (max-width: 900px) {
  .sec1__inner {
    flex-direction: column-reverse;
  }
  .sec1__inner .left {
    width: 100%;
  }
  .sec1__inner .right {
    width: 100%;
    border-left: 0;
  }
  .sec1__inner .right .intro {
    height: auto;
    border-bottom: 1px solid #628aff;
  }
  .sec1__inner .left p {
    position: relative;
    transform: rotate(0);
    bottom: 0;
    left: 0;
    padding: 3vw;
  }
}
/* section2 */

/* section5 */
.js_int {
  background: url("https://vooban.com/uploads/placeholders/video.jpg");
  height: 100vh;
}
.intro_inner {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #628aff;
}
.sec5_wrap {
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #628aff;
}
.sec5_wrap h2 {
  font-family: "Abel";
  color: #fff;
  letter-spacing: 2vw;
  text-transform: uppercase;
}
.sec5_wrap h2 em {
  display: inline-block;
}
.sec5_wrap h2 span {
  display: inline-block;
}

/* section6 */
.sec3__inner {
  height: 2000px;
}
.text1 {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(42, 87, 220, 0.4);
  padding: 10vw;
}
.text1 .left {
  width: 55%;
  font-family: "Raleway", sans-serif;
  font-size: 5vw;
  line-height: 1.2;
  font-weight: 100;
  color: #2a57dc;
  white-space: nowrap;
  mix-blend-mode: overlay;
}
.text1 .left p em {
  font-weight: 700;
}
.text1 .left p.in {
  font-size: 1vw;
  white-space: normal;
  font-family: ChosunNm;
  line-height: 1.6;
  margin-top: 2vh;
}
.text1 .right {
  width: 45%;
  z-index: -1;
  position: relative;
}

/* section4 */
.sec4__inner {
  background: url("https://vooban.com/uploads/placeholders/video.jpg");
  height: 80vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sec4__inner h2 {
  font-family: "Abel";
  color: #fff;
  letter-spacing: 2vw;
  text-transform: uppercase;
}
.sec4__inner h2 em {
  display: inline-block;
}
.sec4__inner h2 span {
  display: inline-block;
}
/* section7 */
.ani_int {
  background-image: url("http://127.0.0.1:5501/assets/img/intro4.png");
}
