@charset "utf-8";

/* layout */
#header {
  position: fixed; 
  left: 0; top: 0; 
  width: 100px; height: 100%; 
  background: #1458E4; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  border-right: 1px solid rgba(255, 255, 255, 0.3); 
  z-index: 1000;
  -webkit-transition-duration:0.4s;
  -webkit-transition-timing-function:ease;
  transition-duration:0.4s;
  transition-timing-function:ease;
}
#contents {width: calc(100% - 100px); margin-left: 100px;}
#nav {position: relative;}
.inner {padding-left: 7%; margin: 0 auto; text-transform: uppercase;}
.intro {display: flex; justify-content: center; align-items: center; width: 100%; background-size: 100%;}
.intro_text h2 {text-transform: uppercase; font-family: "Abel"; font-size: 3vw; font-weight: 400; color: #fff; letter-spacing: 2vw; padding: 35vw 0;}
#section1 {font-family: 'Jost'; width: 100%; background-color: #1458E4;}
#section2 {position: relative; width: 100%; background-color: #1458E4;}
#section3 {width: 100%;}
#section4 {width: 100%;}
#section5{padding-bottom: 10vw; background: #fff;}
#section6 {background-color: #1458E4; padding-bottom: 10vw;}
#section7 {padding-bottom: 7vw; background: #222;}
#section8 {padding-bottom: 15vw; background: #222;}
#footer {border-top: 1px solid #c4c4c4; background: #222;}

/* header */

/* header color black */
.down {
  position: relative;
  z-index: 1200;
  background-color:#222;
  -webkit-transition-duration:0.4s;
  -webkit-transition-timing-function:ease;
  transition-duration:0.4s;
  transition-timing-function:ease;
}
#nav > div {
    width: 40px; 
    height: 40px;
    /* background: rgba(0,0,0,0.3); */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transform: rotate(90deg);
    overflow:hidden;
    line-height:100px;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
}
#nav > div span {
    width: 100%;
    height: 3px;
    background: #fff;
    display: inline-block;
    position: relative;
}
#nav > div span::before {
    content: '';
    position: absolute;
    left: 0;
    top: 10px;
    width: 100%;
    height: 3px;
    background: #fff;
}
#nav > div span::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 100%;
    height: 3px;
    background: #fff;
}

/* contents */
.contents {
    width: calc(100% - 100px);
    margin-left: 100px;
}


/* section1 */
#section1 {
    background: #2A57DC;
    width: 100%;
}
.sec1_inner {
    display: flex;
    border-bottom: 1px solid #628AFF;
    position: relative;
}
.sec1_inner .left {
    width: 60%;
}
.sec1_inner .left p {
    position: absolute;
    left: 1vw;
    bottom: 11vw;
    color: #fff;
    font-family: "Jost";
    font-size: 5vw;
    line-height: 1.2;
    font-weight: 300;
    transform: rotate(-90deg);
}
.sec1_inner .right {
    width: 40%;
    border-left: 1px solid #628AFF;
}
.sec1_inner .right .title {
    padding: 2vw;
    border-bottom: 1px solid #628AFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sec1_inner .right .title h2 {
    font-size: 20px;
    font-family: "Jost";
    color: #fff;
}
.sec1_inner .right .title a {
    font-size: 20px;
    font-family: "Jost";
    color: #fff;
}
.sec1_inner .right .intro {
    display: block;
    padding: 3vw;
    height: 500px;
    margin-top: 10vw;
    border-top: 1px solid #628AFF;
    font-family: "ChosunNm";
}
.sec1_inner .right .intro p {
    color: #fff;
}
.intro figure {
  width: 12vw;
  float: right;
  padding: 5vw 1vw 0 0;
}
.intro figure img {
  width: 100%;
  border-radius: 50%;
}


/* section2 */
.sec2_inner {
  background: url('../img/intro1.png');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* section3 */
.sec3 {
  margin-top: 10vw;
  padding-bottom: 15vw;
}
.profile {
  font-family: 'Jost';
  font-weight: 300;
}
.prof_cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.prof_text {
  width: 50vw;
  position: relative;
  color: #1458E4;
}
.prof_text p {
  font-size: 4vw;
}
.prof_text span {
  display: block;
  padding-top: 10%;
  font-size: 2vw;
}
.prof_cont figure {
  width: 31vw;
  padding-right: 5vw;
}
.prof_cont figure img{
  width: 100%;
  display: block;
}
/* section4 */
.skill {
  border-top: 1px solid #c4c4c4;
}
.skill_text {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8% 0% 35% 0;
}
.skill_text p {
  font-weight: 300;
  line-height: 1.5;
  font-size: 1.2vw;
}
.skill_text .txt_left {
  width: 35vw;
  border-right: 1px solid #7E8AAB;
  padding-right: 10%;
  font-family: 'Jost';
}
.skill_text .txt_right {
  font-family: 'ChosunNm';
  width: 35vw;
  padding-left: 10%;
}
.skill_text .txt_right p {
  font-size: 1vw;
}
/* section5 */
#section5 .projects {
  background:url('../img/intro2.png') no-repeat center;
  background-size: cover;
}
.pro {
  display: flex; 
  align-items: center; 
  justify-content: space-between;
}
.project {margin-top: 15vw;}
/* .pro_numb {
  font-size: 3vw;
  font-family: 'Abel';
  color: #222;
  margin-right: 8vw;
  text-align: right;
} */
.pro_img {position: relative; z-index: 100;}
.pro_img::before{
  position: absolute;
  content: '';
  width: 37vw;
  height: 45vw;
  border: 0.4vw solid #1458E4;
  left: -2vw;
  bottom: 0;
  z-index: -1;
}
.pro_img img {width: 50vw;}
.pro_cont {
  width: 45vw; 
  text-transform:uppercase;
  padding-right: 6vw;
  word-break: keep-all;
}
.pro_txt {
  font-family: 'Abel';
  text-align: right;
  padding-top: 10vw;
}
.pro_txt h3 {
  color: #1458E4; 
  font-size: 4vw;
  letter-spacing: 0.1vw;
}
.pro_txt p {
  font-family: 'ChosunNm';
  font-size: 1.3vw;
  padding: 5% 0 15%;
}
.pro_txt a {
  display: inline-block;
  font-family: 'Jost';
  color: #1458E4;
  font-size: 1.1vw;
  letter-spacing: 0.2em;
  border: 1px solid #1458E4;
  padding: 1vw 4vw;
  text-align: center;
}
/* section6 */
.js {
  padding-left: 0;
  padding-top: 10vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.js_wrap {
  padding-top: 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.js_wrap::before {
  content: '';
  width: 1vw;
  height: 20vw;
  border-bottom: 1px solid #7E8AAB;
  transform: rotate(90deg);
  position: absolute;
  top: 0;
}
.js_txt {
  color: #fff;
  width: 40vw;
}
.js_wrap .right {padding-left: 5vw;}
.js_wrap .left {padding-right: 5vw;}
.js_txt h2, .js_txt h3 {
  font-size: 3.5vw;
  letter-spacing: 0.3em;
  font-family: 'Abel';
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 1vw;
  border-bottom: 1px solid #7E8AAB;
}
.js_txt p {
  padding-top: 2vw;
  font-size: 1.2vw;
  line-height: 1.7;
  font-family: 'ChosunNm';
  font-weight: 300;
  letter-spacing: 0.05vw;
  padding-bottom: 5vw;
}
.js_txt a {
  font-family: 'Jost';
  text-transform: uppercase;
  color: #fff;
  border: 1px solid rgba(255,255,255,0.5);
  font-size: 0.9vw;
  padding: 1vw 4vw;
  transition: 0.25s ease;
  letter-spacing: 0.2vw;
}
.js_txt a:hover {
  color: #1458E4;
  background: rgba(255,255,255,0.8);
}
.js_img {
  position: relative;
  z-index: 100;
}
.js_img img {width: 39vw;}
.js_img::before {
  position: absolute;
  z-index: -1;
  content: '';
  width: 38vw;
  height: 32vw;
  border: 2px solid rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  top: -3vw;
  right: 5vw;
}
.js_cont {
  width: 32vw;
}
.js_cont img {width: 100%; display: block;}

/* section7 */
#section7 .intro {
  background: url('../img/intro3.png') no-repeat center;
}
.ani_wrap {}
.ani {
  padding: 10vw 10vw;
}
.ani_txt {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10%;
}
.ani_txt h3 {
  position: relative;
  font-family: 'Jost';
  font-size: 3vw;
  font-weight: 300;
  letter-spacing: 0.1vw;
  line-height: 1.5;
}
/* .ani_txt h3::after {
  content: '';
  width: 9vw;
  height: 0.1vw;
  position: absolute;
  background: #c4c4c4;
  top: 5vw;
  left: 22vw;
} */
.ani_txt p {
  font-family: 'ChosunNm';
  padding-top: 6vw;
  font-size: 1.3vw;
}
.ani_cont {
  width: 73vw;
  height: 36vw;
  background: #c4c4c4;
}
/* section8 */
.about {
  
}
.about_txt h2 {
  position: relative;
  font-size: 4.5vw;
  font-weight: 300;
  margin-bottom: 30vw;
  color: #fff;
  font-family: 'Jost';
  text-transform: uppercase;
}
.about_wrap1, .about_wrap2{
  color: #fff;
  font-family: 'Jost';
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about_cont1{
  width: 50vw;
  padding-left: 12vw;
}
.about_cont4 {
  width: 20vw;
}
.show figure {width: 25vw;}
.show img {width: 100%;}
.show span {font-size: 1.5vw; padding-top: 1.2vw; display: block;}

/* footer */
.foot {
  margin-left: 10vw;
  font-family: 'Jost';
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15vw 0 5vw 0;
}
.foot_left {
  width: 35vw;
  transform: rotate(-90deg);
}
.foot_left h2 {
  font-size: 5vw;
  font-weight: 300;
}
.foot_right {
  width: 35vw;
  margin: auto;
}
.foot_right p {
  font-size: 2vw;
  text-align: center;
  padding-bottom: 5vw;
}
.foot_right form input, form textarea {
  width: 100%;
  font-size: 1.1vw;
  line-height: 1.2;
  background: #222;
  border: 1px solid #c4c4c4;
  outline: none;
  color: #fff;
  padding: 1vw 2vw;
  margin-bottom: 1vw;
}
.foot_right button {
  width: 35vw;
  color: #fff;
  padding: 1vw 2vw;
  border: 1px solid #c4c4c4;
}
.foot .copy {
  font-size: 1.1vw;
}
/* media */
@media (max-width:900px){
  #header {
    width: 50px;
  }
  #nav > div {
    width: 30px; 
    height: 30px;
  }
  #nav > div span, #nav > div span::before, #nav > div span::after {
    height: 2px;
  }
  .contents {
    width: calc(100% - 50px);
    margin-left:50px;
  }
  .sec1_inner {
      flex-direction: column-reverse;
  }
  .sec1_inner .left {
      width: 100%;
  }
  .sec1_inner .right {
      width: 100%;
      border-left: 0;
  }
  .sec1_inner .right .intro {
      height: auto;
      margin-top: 15vw;
  }
  .sec1_inner .right .intro p{
    font-size: 2.5vw;
  }
  .sec1_inner .left p {
      position: relative;
      transform : rotate(0);
      font-size: 9vw;
      bottom: 0;
      left: 0;
      padding: 3vw;
      padding: 23vw 7vw;
      line-height: 1.2;
  }
  .intro figure {
    width: 100%;
    border-bottom: 1px solid #628AFF;
    padding: 10vw 5vw;
  }
  .intro figure img{
    width: 27vw;
    display: block;
    margin: auto;
  }
/* section3 */
.prof_cont {display: block;}
.prof_text {
  width: 100%;
}
.prof_text p {
  font-size: 5vw;
}
.prof_text span {
  font-size: 2.5vw;
}
.prof_cont figure {
  width: 55vw;
  padding-top: 7vw;
}
.skill_text {
  display: block;
  padding: 18% 10% 20% 0;
}
.skill_text p {
  font-size: 2.2vw;
}
.skill_text .txt_left {
  padding-bottom: 7vw;
  width: 100%;
}
.skill_text .txt_right {
  width: 100%;
  padding-left: 0;
  padding-top: 7vw;
}
.skill_text .txt_right p {
  font-size: 2vw;
}
.skill_text .txt_left {
  border-bottom: 1px solid #7E8AAB;
  border-right: 0;
}
/* section5 */
.pro {display: block;}
.pro_txt h3 {
  font-size: 6vw;
}
.pro_txt p {
  font-size: 2.5vw;
  padding: 1% 0 8%;
}
.pro_img {width: 70vw;}
.pro_img::before {
  width: 50vw;
  height: 64vw;
}
.pro_img img {width: 70vw;}
.pro_cont {
  width: 75vw;
  padding-right: 0;
}

/* section6 */
.js_img img {width: 34vw;}
.js_img::before {
  width: 32vw; 
  height: 29vw;
}
.js_txt p {font-size: 1.8vw;}

/* section7 */

/* footer */
.foot {display: block;}
.foot_left {
  width: 100%;
  transform: rotate(0);
}
.foot_left h2 {
  font-size: 7vw;
}
.foot_right {
  width: 50%;
}
.foot_right p {
  font-size: 3vw;
  text-align: right;
}
.foot_right form input, form textarea {
  line-height: 3;
}
.foot .copy {
  font-size: 2vw;
  font-weight: 300;
  padding-top: 10vw;
}
.foot_right button {
  font-size: 1.5vw;
}




}
